.DS_Store
*.pyc
*.sde
deploy/
dist/
node_modules/
scripts/agrc*
scripts/Logs/
scripts/raster_secrets.py
scripts/requests*
scripts/secrets.py
secrets.json
src/
maps/Default.gdb/
maps/.backups/
maps/ImportLog/
maps/**/*.ags
