.DS_Store
*.sde
deploy/
dist/
node_modules/
scripts/agrc*
scripts/Logs/
scripts/requests*
secrets.json
src/**/*.css
src/agrc-jasmine-matchers/
src/agrc/
src/bootstrap/
src/components-jasmine/
src/dgrid/
src/dijit/
src/dojo/
src/dojox/
src/dstore/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jasmine-jsreporter/
src/jquery/
src/ladda-bootstrap/
src/layer-selector/
src/moment/
src/mustache/
src/put-selector/
src/spin.js/
src/spinjs/
src/util/
src/xstyle/
