<div>
    <div id='title-pane'>
        <h1>
            <span id='title'>UGRC Raster Data Discovery</span>
            <a data-dojo-attach-point='version' href='ChangeLog.html' target="_blank"></a>
        </h1>
    </div>
    <div data-dojo-attach-point='sideBar' class='side-bar'>
        <div id='raster-toolbox'></div>
    </div>
    <div id='maps-container'>
        <div id='map-div'></div>
        <div id='preview-map-utm-div'></div>
        <div id='preview-map-webmerc-div'></div>
    </div>
</div>
