@import '../agrc/themes/standard/map/BaseMap.css';
@import '../agrc/themes/standard/map/BaseMapSelector.css';
@import '../raster/css/Toolbox.css';
@import '../ijit/themes/standard/notify/Feedback.css';
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#loading-overlay {
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    z-index: 800;
    vertical-align: middle;
}
#main-container {
    width: 100%;
    height: 100%;
}

/* TITLE PANE */
#title-pane {
    border: none;
}
#title-pane h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: normal;
}
#version {
    font-size: 16px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0;
}
#version:hover {
    text-decoration: underline !important;
}

/* SIDE BAR */
#main-container .side-bar {
    width: 375px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#main-container .side-bar-sizer {
    width: 377px;
    margin: -1px;
}

/* MAP */
#map-div, #preview-map-div {
    width: 100%;
    height: 100%;
    position: absolute;
}
#maps-container {
    padding: 0;
}
#map-div .mapContainer .loadingImg {
    bottom: 11px;
    left: 79px;
}
#preview-map-div .esriScalebarLabel {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em gray;
}

/* MISC */
/* remove orange outline in chrome */
*:focus {
    outline: none;
}

/* fix chrome bug: http://bugs.dojotoolkit.org/ticket/15599*/
.dijitButton, .dijitButtonNode {
    -webkit-transition-duration: 0s, 0s !important;
}