@import '../../ladda-bootstrap/dist/ladda-themeless.css'
@import 'Tile'

.download .result-group
    .rasterTitlePaneContentInner
        padding-left: 21px;
    .rasterTitlePaneTitle
        padding-left: 5px;

.esriPopup .multi-tiles-popup-content button
    margin-top: 3px
