/* get rid of focus outline */
.product-result {
    border: solid 1px #B5BCC7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 1px !important;
}
.results-pane-inner div:focus {
    outline: none;
}
.results-pane-inner {
    margin-bottom: 10px;
}
.results-pane-inner .rasterTitlePaneTitle {
    height: 23px;
}
.product-result .rasterTitlePaneTitle {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.product-result .rasterTitlePaneTitle, .product-result .dijitTitlePaneTitleHover {
    background-color: #E0E0E0 !important;
    border-bottom: solid 1px #B5BCC7 !important;
}
.product-result .dijitTitlePaneTitleHover {
    cursor: pointer;
}
.results-pane-inner .rasterTitlePaneTitleFocus {
    position: relative;
}
.product-result .dijitTitlePaneTitleActive {
    background-color: #E0E0E0 !important;
}
.claro .result-group .product-result .rasterTitlePaneContentInner {
    padding-left: 0;
    padding-top: 0px;
}
.product-result:hover {
    border-color: #797D84;
}
.claro .results-pane-inner .dijitArrowNode {
    height: 10px;
    position: absolute;
    left: 7px;
    top: 7px;
}
.results-pane-inner .dijitTitlePaneTextNode {
    position: absolute;
    left: 15px;
    top: 2px;
}
.results-pane-inner .hidden {
    display: none;
}
.claro .results-pane-inner .dijitToggleButtonChecked .dijitButtonNode {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: #81BCF3;
}
.product-result .inner-content {
    padding: 4px;
}
.product-result .inner-content a, .product-result .inner-content .btn {
    font-size: 11px;
}
.btn-container-bottom {
    float: right;
    margin: 0 -3px 1px 0;
}

/* MORE INFO DIALOG */
.more-info-container {
    float: left;
}
.claro .dijitDialogCloseIcon {
    top: 8px;
}
.claro .dijitDialog {
    width: 50%;
}
.more-info-template table {
    width: 100%;
    border-collapse: collapse;
}
.more-info-template table td {
    border: solid 1px #B8C6D3;
    padding: 3px;
}