.product-result
    .btn-xs, .btn-group-xs > .btn
        padding: 0 4px
    .collapsed .panel-heading
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
    .panel-heading
        height: 26px
        padding: 3px 3px 2px 3px
        .glyphicon
            top: 3px
            vertical-align: top
    .panel-body
        padding: 3px
        .btn-link
            padding-left: 0
            text-decoration: underline
    &:hover
        border-color: #b1b1b1
    .title
        width: 170px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        display: inline-block
