.result-group
    >[data-dojo-attach-point='collapsible']
        margin-left: 20px
        padding-top: 1px
    >a
        width: 100%
        text-align: left
        padding: 3px 6px
        &:focus, &:active, &:focus:active, &:hover
            background-color: #fff
            box-shadow: none
.main-product-container>a, .download .result-group>a
    border: none
    font-style: 16px
