.claro .result-group .dijitTitlePaneTitleHover {
    cursor: pointer;
    background-color: white;
}
.claro .result-group .rasterTitlePaneContentInner {
    padding-left: 18px;
    padding-top: 0;
}
.result-group .dijitTitlePaneTitleHover, .result-group .dijitTitlePaneTitleActive {
    background-color: #cccccc !important;
}
.result-group .rasterTitlePaneTitle {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-color: #e1e1e1;
}
.result-group.main-product-container>.rasterTitlePaneTitle {
    background-color: #ffffff;
}