@import '../../agrc/resources/locate/FindAddress.css';
@import 'ProductResult.css';
@import 'ResultGroup.css';
@import 'Download.css';
@import 'TilePopup.css';

/* SEARCH */

/* drawing toolbar */
.raster-toolbox .draw-toolbar {
    margin: 2px -10px 10px 1px;
    border: solid 1px #B5BCC7;
    width: 182px;
}
.raster-toolbox .draw-toolbar .icon {
    background-repeat: no-repeat;
    height: 17px;
    width: 18px;
    text-align: center;
    background-image: url('images/drawSprite.png');
    background-repeat: no-repeat;
}
.raster-toolbox .draw-toolbar .iconDrawPoint {
    background-position: -1px -1px;
}
.raster-toolbox .draw-toolbar .iconDrawLine {
    background-position: -19px -1px;
}
.raster-toolbox .draw-toolbar .iconDrawLineFreehand {
    background-position: -36px -1px;
}
.raster-toolbox .draw-toolbar .iconDrawPolygon {
    background-position: -54px -1px;
}
.raster-toolbox .draw-toolbar .iconDrawPolygonFreehand {
    background-position: -71px -1px;
}
.raster-toolbox .draw-toolbar .iconClear {
    background-position: -89px -1px;
}
.raster-toolbox .search-btn {
    position: absolute;
    left: 50%;
    margin-left: -109px;
}
.raster-toolbox .search-btn-inner {
    width: 200px;
}
.raster-toolbox .search-image {
    float: right;
    margin-top: 2px;
}
.raster-toolbox .search-btn-outter {
    height: 35px;
    position: relative;
}
.raster-toolbox .search-warning {
    color: red;
}
.raster-toolbox
    .select-products
        span.glyphicon-question-sign
            color: #575757

/* RESULTS */
#step3>.panel-body
    position: relative;
    [data-dojo-attach-point='clearPreviewBtn']
        position: absolute
        top: 5px
        right: 5px
        z-index: 1
.results-container
    position: relative;
    .result-group
        &, .product-result
            margin-top: 0
            margin-bottom: 1px
