<div>
    <div class='panel-group' id='accordion'>
        <div class='panel panel-default'>
            <a role='button' data-toggle='collapse' data-parent='#accordion' href='#step1'>
                <div class='panel-heading' role='tab'>
                    <h4 class='panel-title'>Step 1 - Select Products</h4>
                </div>
            </a>
            <div id="step1" class="panel-collapse collapse in" role='tabpanel'>
                <div class="panel-body">
                    Please select the type of product(s) that you are looking for...
                    <div class='select-products'>
                        <div class="checkbox">
                            <label>
                                <input value='0' type='checkbox'/> Aerial Photography
                                <span class="glyphicon glyphicon-question-sign"
                                    title="A longer description of what this is"
                                    data-toggle="tooltip"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input value='1' type='checkbox'/> LiDAR DEMs
                                <span class="glyphicon glyphicon-question-sign"
                                    title="A longer description of what this is"
                                    data-toggle="tooltip"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input value='2' type='checkbox'/> USGS DEMs
                                <span class="glyphicon glyphicon-question-sign"
                                    title="A longer description of what this is"
                                    data-toggle="tooltip"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input value='3' type='checkbox'/> Auto-Correlated DEMs
                                <span class="glyphicon glyphicon-question-sign"
                                    title="A longer description of what this is"
                                    data-toggle="tooltip"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input value='4' type='checkbox'/> Contours
                                <span class="glyphicon glyphicon-question-sign"
                                    title="A longer description of what this is"
                                    data-toggle="tooltip"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input value='5' type='checkbox'/> USGS Topo Maps
                                <span class="glyphicon glyphicon-question-sign"
                                    title="A longer description of what this is"
                                    data-toggle="tooltip"></span>
                            </label>
                        </div>
                    </div>
                    ...then proceed to Step 2 below.
                    <br><br>
                    <div data-dojo-type="app/MainAppLink"></div>
                </div>
            </div>
        </div>
        <div class='panel panel-default'>
            <a role='button' data-toggle='collapse' data-parent='#accordion'
                data-dojo-attach-point='step2header' href='#step2'>
                <div class='panel-heading' role='tab'>
                    <h4 class='panel-title'>Step 2 - Define Area of Interest</h4>
                </div>
            </a>
            <div id='step2' class='panel-collapse collapse' role='tabpanel'>
                <div class='panel-body'>
                    <h4>Find an address</h4>
                    <div id='find-address'></div>
                    <h4>Or draw on the map</h4>
                    <div class="claro">
                        <div class="draw-toolbar" data-dojo-type="dijit/Toolbar" data-dojo-attach-point='dijitToolbar'>
                            <div data-dojo-type="dijit/form/ToggleButton" iconClass="icon iconDrawPoint"
                            showLabel="false" value="POINT">
                                Draw Point
                            </div>
                            <div data-dojo-type="dijit/form/ToggleButton" iconClass="icon iconDrawLine"
                            showLabel="false" value="POLYLINE">
                                Draw Line
                            </div>
                            <div data-dojo-type="dijit/form/ToggleButton" iconClass="icon iconDrawLineFreehand"
                            showLabel="false" value="FREEHAND_POLYLINE">
                                Draw Line (Freehand)
                            </div>
                            <div data-dojo-type="dijit/form/ToggleButton" iconClass="icon iconDrawPolygon"
                            showLabel="false" value="POLYGON">
                                Draw Polygon
                            </div>
                            <div data-dojo-type="dijit/form/ToggleButton" iconClass="icon iconDrawPolygonFreehand"
                            showLabel="false" value="FREEHAND_POLYGON">
                                Draw Polygon (Freehand)
                            </div>
                            <div data-dojo-type='dijit/form/Button' iconClass='icon iconClear'
                            showLabel='false' data-dojo-attach-point='clearAOIBtn'>
                                Clear Drawings
                            </div>
                        </div>
                        You may use the tools above to draw your area of interest on the map.
                        <hr>
                        <div data-dojo-attach-point="searchLoading" class='hidden'>Searching... <img src="app/resources/images/ajax-loader.gif" alt="loading image"></div>
                        <div data-dojo-attach-point='searchWarning' class='search-warning hidden'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='panel panel-default'>
            <a role='button' data-toggle='collapse' data-parent='#accordion'
                data-dojo-attach-point='step3header' href='#step3'>
                <div class='panel-heading' role='tab'>
                    <h4 class='panel-title'>Step 3 - Results</h4>
                </div>
            </a>
            <div id='step3' class='panel-collapse collapse results-pane-inner' role='tabpanel'>
                <div class='panel-body'>
                    <button data-dojo-attach-point='clearPreviewBtn' class='btn btn-default btn-xs hidden'>Clear Preview</button>
                    <div data-dojo-attach-point='0ResultsContainer' class='results-container hidden'>
                        <div data-dojo-attach-point='0Results' data-dojo-type='app/ResultGroup' data-dojo-props="'class': 'main-product-container', 'title': 'Aerial Photography', 'forceOpen': true"></div>
                    </div>
                    <div data-dojo-attach-point='1ResultsContainer' class='results-container hidden'>
                        <div data-dojo-attach-point='1Results' data-dojo-props="'title': 'LiDAR DEMs', 'class': 'main-product-container', 'forceOpen': true" data-dojo-type='app/ResultGroup'></div>
                    </div>
                    <div data-dojo-attach-point='2ResultsContainer' class='results-container hidden'>
                        <div data-dojo-attach-point='2Results' data-dojo-props="'title': 'USGS DEMs', 'class': 'main-product-container', 'forceOpen': true" data-dojo-type='app/ResultGroup'></div>
                    </div>
                    <div data-dojo-attach-point='3ResultsContainer' class='results-container hidden'>
                        <div data-dojo-attach-point='3Results' data-dojo-props="'title': 'Auto-Correlated DEMs', 'class': 'main-product-container', 'forceOpen': true" data-dojo-type='app/ResultGroup'></div>
                    </div>
                    <div data-dojo-attach-point='4ResultsContainer' class='results-container hidden'>
                        <div data-dojo-attach-point='4Results' data-dojo-props="'title': 'Contours', 'class': 'main-product-container', 'forceOpen': true" data-dojo-type='app/ResultGroup'></div>
                    </div>
                    <div data-dojo-attach-point='5ResultsContainer' class='results-container hidden'>
                        <div data-dojo-attach-point='5Results' data-dojo-props="'title': 'USGS Topo Maps', 'class': 'main-product-container', 'forceOpen': true" data-dojo-type='app/ResultGroup'></div>
                    </div>
                    <br>
                    <div data-dojo-type="app/MainAppLink"></div>
                    <div data-dojo-attach-point='noResults'>No results yet. Please define a search above.</div>
                </div>
            </div>
        </div>
        <div class='panel panel-default'>
            <a role='button' data-toggle='collapse' data-parent='#accordion'
                data-dojo-attach-point='step4header' href='#step4'>
                <div class='panel-heading' role='tab'>
                    <h4 class='panel-title'>Step 4 - Download Data</h4>
                </div>
            </a>
            <div id="step4" class="panel-collapse collapse" role='tabpanel'>
                <div class="panel-body">
                    <div data-dojo-attach-point='downloadDiv'></div>
                </div>
            </div>
        </div>
        <div class='panel panel-default'>
            <a role='button' data-toggle='collapse' data-parent='#accordion' href='#help'>
                <div class='panel-heading' role='tab'>
                    <h4 class='panel-title'>Help | AGRC Imagery Services Info</h4>
                </div>
            </a>
            <div id='help' class='panel-collapse collapse' role='tabpanel'>
                <div class='panel-body'>
                    <a href="??">Video: How to use this application</a>
                    <hr>
                    <strong>Map Navigation</strong><br>
                    Drag the mouse to pan<br>
                    SHIFT + Drag the mouse to zoom in<br>
                    SHIFT + CTRL + Drag the mouse to zoom out<br>
                    Mouse Scroll Forward to zoom in<br>
                    Mouse Scroll Backward to zoom out<br>
                    <hr>
                    <a href='https://gis.utah.gov/data/base-map-and-imagery/' target="_blank">Utah SGID Image Service Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
